.main {
    width    : 100%;
    max-width: 100%;
}

.container {
    width           : 100%;
    max-width       : 600px;
    background-color: $Wild-sand;

    .column {
        @extend .container;
    }
}

.mobileshow {
    display   : none;
    overflow  : hidden;
    width     : 0;
    max-height: 0;
}

.fluidimage-small {
    height: auto !important;
    width : 20%;
}

.fluidimage-medium {
    height   : auto !important;
    max-width: 50%;
}

.fluidimage-large {
    height: auto !important;
    width : 75%;
}

.seperator {
    padding      : 5px 0;
    border       : none;
    border-bottom: 1px solid $alto;
    width        : 90%;
}

.button {
    background-color: $white;
    padding         : 10px 45px;
    font-size       : 20px;
    font-weight     : bolder;
    border          : 1px solid $alto;
}

.top-row-container {
    width: 100%;

    .top-row {
        max-width: 600px;
        width    : 100%;
        margin   : 5px 0;
    }
}

.mid-row-container {
    width: 100%;

    .mid-row {
        max-width: 250px;
        margin   : 5px 0;
    }
}

.bottom-row-container {
    width: 100%;

    .bottom-row {
        max-width: 250px;
        margin   : 5px 0;
    }
}
