.fluid-img img {
  max-width: 600px;
  width    : 100%;
  height   : auto;
}

.spacer {
  display  : inline-block;
  max-width: 22px;
  width    : 100%;
}

.main {
  width                   : 100%;
  margin                  : 0 auto;
  table-layout            : fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust    : 100%;

  .webkit {
    Margin   : 0 auto;
    max-width: 600px;
    width    : 100%;

    .container {
      max-width: 600px;
      width    : 100%;

      .outer {
        font-size: 0;
        padding  : 0;
        max-width: 600px;
        width    : 100%;

        .one-column {
          font-size : 14px;
          max-width : 600px;
          width     : 100%;
          text-align: center;

          .disclaimer {
            max-width       : 600px;
            width           : 100%;
            background-color: #747474;
            font-size       : 14px;
          }

          .legacy-font {
            font-size : 14px;
            text-align: left;
          }

          .align-content {
            max-width : 600px;
            width     : 100%;
            display   : inline-block;
            text-align: center;

            .column {
              max-width  : 540px;
              width      : 100%;
              font-size  : 14px;
              font-family: "helvetica";
              display    : inline-block;
            }
          }

          .column {
            max-width  : 600px;
            width      : 100%;
            font-size  : 14px;
            font-family: "helvetica";
            display    : inline-block;
            text-align : center;

            .text-center {
              text-align: center;
            }
          }

          .inner-col {
            width     : 100%;
            text-align: left;

            .fluid-img img {
              max-width: 600px;
              width    : 100%;
              height   : auto;
            }

            .column {
              display       : inline-block;
              max-width     : 140px;
              width         : 100%;
              text-align    : left;
              vertical-align: middle;
            }
          }
        }

        .fluid-img {
          font-size: 14px;
        }

        .fluid-img img {
          max-width: 600px;
          width    : 100%;
          height   : auto;
        }

        .two-column {
          @extend .one-column;
          text-align: center;

          .legacy-font {
            font-size : 14px;
            text-align: left;
          }

          .column {
            @extend .column;
            max-width : 285px;
            width     : 100%;
            text-align: left;
            font-size : 14px;

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
