.fluidimage-small img {
  height   : auto;
  width    : 20%;
  max-width: 100%;
}

.fluidimage-medium img {
  height   : auto;
  max-width: 50%;
  max-width: 100%;
}

.fluidimage-large img {
  height   : auto;
  width    : 75%;
  max-width: 100%;
}

.fluidimage-full img {
  height   : auto;
  width    : 100%;
  max-width: 100%;
}
@media only screen and (max-width:480px) {
  .responsive-font {
    font-size : 10vw !important;
    text-align: -webkit-center;
  }

  a[x-apple-data-detectors] {
    color          : inherit !important;
    text-decoration: none !important;
    font-size      : inherit !important;
    font-family    : inherit !important;
    font-weight    : inherit !important;
    line-height    : inherit !important;
  }

  .mobile-full-width {
    display  : block !important;
    max-width: 100% !important;
    width    : 95% !important;
  }

  .responsive-padding-top5 {
    padding-top: 5px !important;
  }

  .responsive-padding-top10 {
    padding-top: 10px !important;
  }

  .responsive-padding-top15 {
    padding-top: 15px !important;
  }
}
