<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Insert Email Title</title>

    <link rel="stylesheet" href="./css/main.css">
  </head>

  <body>
    <table class="main" align="center">
      <tr>
        <td>
          <table class="container" align="center">
            <tr>
              <td>
                <table class="header-container">
                  <tr>
                    <td>
                      <table class="header" cellpadding="20">
                        <tr>
                          <td class="responsive-align">

                          </td>
                        </tr>
                      </table>
                      <hr class="seperator">
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <table class="top-row-container">
                        <tr>
                          <td>
                            <table class="top-row">
                              <tr>
                                <td align="center">

                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <hr class="seperator">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table class="footer-container">
                  <tr>
                    <td>
                      <tr>
                        <td align="center">
                          <hr class="seperator">
                          <table class="footer">
                            <tr>
                              <td>

                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>

</html>
