$carnation: #FE595F;
$Wild-sand: #F6F6F6;
$alto: #CECECE;
$white: #FFFFFF;
$black: #000000;
$red-violet: #D81B6F;

.carnation {
  background-color: $carnation;
}

.wild-sand {
  background-color: $Wild-sand;
}

.alto {
  background-color: $alto;
}

.white {
  background-color: $white;
}

.black {
  background-color: $black;
}

.red-violet {
  background-color: $red-violet;
}
