.footer-container {
    width    : 100%;
    max-width: 600px;

    .footer {
        color    : $white;
        max-width: 600px;
        font-size: 14px;

        .social {
            td {
                padding: 0 20px;
            }
        }
    }
}
