.mid-container {
    width: 100%;

    .green-row {
        height: 100px;

        .app-buttons-container {
            vertical-align: middle;
            height        : 75px;
        }

        .mid-text {
            .mid-text-align {
                width: 300px;
                color: $white;
            }
        }
    }
}
